<nav>
  <a
    routerLink="/courses"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Course</a
  >

  <a routerLink="/admin/create-course" routerLinkActive="active"
    >Create Course</a
  >

  <a routerLink="/admin/students" routerLinkActive="active">Students</a>

  <a routerLink="/about" routerLinkActive="active">About</a>

  <a class="sign-up" routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
</nav>

<router-outlet></router-outlet>
<!--
<app-course-details></app-course-details>

<app-courses-list></app-courses-list>-->
