<h2>{{ title }}</h2>

<div class="courses-item">
  <h3>{{ courses[0].title }}</h3>
  <p>{{ courses[0].description }}</p>
  <p>{{ courses[0].price }}</p>
  <p>21-01-2026</p>
  <button type="button">View details</button>
</div>

<div class="courses-item">
  <h3>{{ courses[1].title }}</h3>
  <p>{{ courses[1].description }}</p>
  <p>{{ courses[1].price }}</p>
  <p>21-01-2026</p>
  <button type="button">View details</button>
</div>

<div class="courses-item">
  <h3>{{ courses[2].title }}</h3>
  <p>{{ courses[2].description }}</p>
  <p>{{ courses[2].price }}</p>
  <p>21-01-2026</p>
  <button type="button">View details</button>
</div>
